.shoutout
  .main_area
    %h1 rake-data
    %h2 Using rake for dataflow programming and data science

    .links
      %a.btn.btn-primary{ href: "https://github.com/HappyFunCorp/rake-data" }Code
      %a.btn.btn-primary{ href: "docs" }Docs

  .features
    / .col-xs-12
    /   %p.lead Part of the OSEMN process

    .feature
      %h2 Download Data

      %ul
        %li Download CSV
        %li Download JSON
        %li Download HTML

    .feature
      %h2 Process Data

      %ul
        %li Parse HTML with Nokogiri
        %li Autoparse Wikipedia tables
        %li CSV Column Uniques & Totals
        %li CSV Transformations
        %li Load into Redis

    .feature
      %h2 Explore Data
